/* =============================================================================
   Widgets
   Author: Erine Gray
   Date: 4/24/2013
   ========================================================================== */


.icon-categories{left:0px;width:618px;height:38px;}
.icon-categories{background:url('images/widget-sprite.png') -5px -0px;}

.icon-tiny-bertha{left:0px;width:29px;height:35px;}
.icon-tiny-bertha{background:url('images/widget-sprite.png') 0px -42px;}

.icon-categories-criticalmass{left:0px;width:618px;height:38px;}
.icon-categories-criticalmass{background:url('images/widget-sprite-criticalmass.png') -5px -0px;}

.icon-categories-amerigroup{left:0px;width:151px;height:35px;margin-top:6px;margin-left:65px;}
.icon-categories-amerigroup{background:url('images/widget-sprite-amerigroup.png') -0px -0px;}

.icon-categories-anthem{left:0px;width:156px;height:38px;margin-top:6px;margin-left:65px;}
.icon-categories-anthem{background:url('images/widget-sprite-anthem.png') -0px -0px;}

.icon-categories-superior{left:0px;width:344px;height:25px;}
.icon-categories-superior{background:url('images/widget-sprite-superior.png') -5px -0px;}

.icon-categories-scportal{left:0px;width:115px;height:28px;}
.icon-categories-scportal{background:url('images/widget-sprite-scportal.png') 0px 0px;}